@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

:root {
  --back: rgb(71, 71, 75);
  --prim1: #1a1a1a;
  --prim2: #313131;
  --hint1: hsl(202, 83%, 60%);
  --hint2: rgb(133, 214, 241);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--back);
  font-family: "Cairo", sans-serif;
  color: white;
}

#warzoneLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("warzoneBackground.jpg");
  background-position: center;
}

#warzoneLogo img {
  max-width: 800px;
  min-width: 300px;
  margin: 2%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--prim1);
  padding: 10px;
}

@media (min-width: 1500px) {
  #output1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1500px) {
  #output1 {
    grid-template-columns: repeat(2, 1fr);
  }
  #help img {
    width: 40vw;
  }
}

@media (max-width: 1050px) {
  #output1 {
    grid-template-columns: repeat(1, 1fr);
  }
  #help img {
    width: 400px;
  }
}

#playerInput {
  height: 30px;
  border-style: none;
  text-decoration: none;
  outline: none;
}

#navBarRow2 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

#navBarRow1 input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#navBarRow1 label {
  display: inline-block;
  background-color: var(--prim2);
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 4px;
  font-family: "Cairo", sans-serif;
  margin: 0px 3px;
  transition: 0.3s;
}

#navBarRow1 input[type="radio"]:checked + label {
  background-color: var(--hint1);
  color: black;
}

#navBarRow1 label:hover {
  background-color: var(--hint2);
  color: black;
}

button {
  size: fit-content;
  margin-left: 10px;
  background-color: var(--hint1);
  border-style: none;
  width: 35px;
  transition: 0.3s;
}

button:hover {
  background-color: var(--hint2);
}

button img {
  width: 12px;
}

#topLine {
  display: flex;
  background-color: var(--hint1);
  height: 5px;
}

#help {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#output1 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto, auto;
  display: grid;
  place-items: center;
}

.items {
  width: 400px;
  margin: 50px;
  background: var(--prim1);
  box-shadow: 0 3px 6px rgba(black, 0.16), 0 3px 6px rgba(black, 0.23);
  border-top: 10px solid var(--hint1);
}

.items-head p {
  padding: 5px 20px;
  margin: 10px;
  color: var(--hint1);
  font-weight: bold;
  font-size: 30px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid var(--hint1);
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  background-color: var(--prim2);
  font-size: 20px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--prim1);
}

footer div {
  margin: 10px 10vw 10px 10vw;
}

h3 {
  color: var(--hint1);
}

#bottomLine {
  background-color: var(--hint1);
  height: 5px;
}

footer p:hover {
  color: var(--hint2);
}
