@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(56, 57, 61);
  font-family: "Cairo", sans-serif;
  color: white;
}

#warzoneLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("warzoneBackground.jpg");
  background-position: center;
}

#warzoneLogo img {
  max-width: 800px;
  min-width: 300px;
  margin: 2%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 43, 46);
  padding: 10px;
}

#output1 {
  max-width: 1200px;
  margin: 100px auto;
  display: grid;
  grid-gap: 1rem;
  font-size: 150%;
}

.player-stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-style: solid;
  border-color: rgb(43, 43, 46);
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-width: 10px;

  /* border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%; */
}

.player-stat-container h3 {
  color: rgb(95, 153, 177);
}

@media (min-width: 900px) {
  #output1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

#playerInput {
  height: 30px;
  border-style: none;
  text-decoration: none;
}

#navBarRow2 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

button {
  size: fit-content;
  margin-left: 10px;
  background-color: rgb(95, 153, 177);
  border-style: none;
  width: 35px;
}

button img {
  width: 12px;
}

#topLine {
  background-color: rgb(95, 153, 177);
  height: 30px;
}
